* {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    background: #181719;
    width: 100%;
    height: 100%;
}


@media (min-width: 320px) {
    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    .btn-interior {
        background-color: #181719;
        color: #ffffff;
        width: 103px;
        height: 31px;
        top: 19px;
        left: 12px;
        border: 1px;
        position: relative;
        border: 1px solid white;
        font-family: CrimsonPro;
        font-size: 14px;
        font-weight: 200;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center;
    }

    #cerrar {
        background-color: #000000;
        border: none;
    }

    #cerrar img {
        position: relative;
        height: 30px;
        top: 14px;
        left: 310px;

    }

    #hamburguesa {
        position: relative;
        width: 24px;
        height: 24px;
        top: 19px;
        right: 12px;
        cursor: pointer;
        background-color: #181719;
        color: #ffffff;
        border: none;
    }

    #hamburguesa span {
        width: 24px;
        height: 24px;
        text-align: right;
    }

    #hamburguesa:hover span {
        fill: #ff0000;
    }

    #menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: #181719;
        color: #ffffff;
        display: none;
        z-index: 999;
    }

    #menu li {
        list-style: none;
        padding: 10px;
        font-size: 16px;
        text-align: center;

    }

    #menu li a {
        color: #000000;
    }

    #menu li a:hover {
        color: #ff0000;
    }

    main {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main h1 {
        width: 274px;
        height: 46px;
        padding-top: 40px;
        padding-left: 23px;
        color: #ffffff;
        text-align: left;
    }

    .p-info {
        width: 250px;
        height: 85px;
        color: #ffffff;
        padding-left: 23px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
    }

    .p-more {
        height: 17px;
        padding-left: 23px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        padding-top: 15px;
        display: flex;
    }

    .fa-solid {
        height: 24px;
        padding-left: 10px;
        padding-top: 3px;
        color: #ffffff;
    }

    .fa-x {
        background-color: #181719;
        text-align: right;
        width: 324px;
        border: none;
    }

    .img-container {
        display: flex;
        justify-content: left;
        align-items: left;

    }

    .photo1 {
        height: 200.32px;
        top: 323px;
        padding-left: 12px;
    }

    .photo-container {
        width: 270px;
        height: 110px;
        margin-left: 80px;
        background-color: #181719;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        position: absolute;
        margin-top: 196px;
        margin-left: -20px;
    }

    .photo2 {
        width: 36.59px;
        height: 36.59px;
        padding-top: 15.17px;
        padding-left: 12.68px;
    }

    .info-person {
        padding-top: 15px;
        width: 142.83px;
        height: 29.27px;
        padding-left: 22.17px;

    }

    .name {
        color: #ffffff;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;
    }

    .cargo {
        color: #828282;
        font-family: Montserrat;
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
        letter-spacing: 0em;
        text-align: left;

    }

    .Designed {
        color: #ffffff;
        font-family: Lora;
        font-size: 18px;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
        width: 210px;
        height: 45px;
        left: -50px;
        padding-top: 20px;
        position: relative;
    }

    footer p {
        color: #ffffff;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
        width: 100%;
        height: 17px;
        margin-top: 224px;
        margin-left: 7px;

    }

    #duplicado {
        color: #ffffff;
        display: none;
    }
}

@media (min-width: 530px) {
    nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .btn-interior {
        background-color: #181719;
        color: #ffffff;
        width: 103px;
        height: 31px;
        top: 19px;
        left: 12px;
        border: 1px;
        position: relative;
        border: 1px solid white;
        font-family: Crimson Pro;
        font-size: 14px;
        font-weight: 200;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center;
    }

    #hamburguesa {
        position: relative;
        width: 24px;
        height: 24px;
        top: 19px;
        right: 12px;
        cursor: pointer;
        background-color: #181719;
        color: #ffffff;
        border: none;
        display: none;
    }

    .container-duplicado {
        display: block;
    }

    #duplicado {
        color: #ffffff;
        display: flex;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        height: 22px;
    }

    #duplicado li {
        padding: 10px;
        padding-top: 19px;
    }

    #duplicado li a:hover {
        color: #ffffff;
        background-color: #ffffff;
    }

    .general {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        padding-top: 150px;
    }

    .photo-container {
        margin-top: 190px;
        margin-left: 12px;
    }
}